@media (max-width: 1024px){
    .caixaLoginContainer{
        max-width: 100%;
        flex-direction: column;
        margin-top: 20em;
    }

    footer {
        text-align: center;
        margin-top: 10em;
    }
}