@media (max-width: 1024px) { 
    .caixaContainer {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .produto {
      width: calc(45% - 20px); 
    }
  
    .imagensHardwareLink {
      flex-wrap: wrap;
      gap: 1em;
    }
  
    .imagensLink {
      width: 100%;
      height: auto;
    }
  }

@media (max-width: 768px) {
.caixaContainer {
    flex-direction: column;
    align-items: center;
}

.produto {
    width: 90%; 
}

.imagensHardwareLink {
    flex-direction: column;
    align-items: center;
}

.imagensLink {
    width: 80%;
    height: auto;
}

footer {
    text-align: center;
    padding: 2em;
}
}

@media (max-width: 480px) {

.caixaContainer {
    flex-direction: column;
    align-items: center;
}

.produto {
    width: 100%; 
}

.produto img {
    width: 100%;
    height: auto;
}

.imagensHardwareLink {
    flex-direction: column;
    align-items: center;
}

.imagensLink {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1em;
}
}